<% layout('layouts/boilerplate')%>
<div class="container">
    <%- include('../partials/navbar')%>
</div>

<div class="b-example-divider"></div>

<div class="container px-2 py-5 text-end">
    <h4 class="pb-2 text-center">Paciente: <%= user.Apellido %>, <%= user.Nombre %></h4>
    <p>Habitacion: <%= user.Habitacion %></p>
    <% if (user.estaConectado) { %>
        <button type="button" class="btn btn-danger" id="connectButton" value="<%= user._id %>">Desconectar</button>
    <% } else { %>
        <button type="button" class="btn btn-success" id="connectButton" value="<%= user._id %>">Conectar</button>
    <% } %>
</div>

<div class="container px-4 py-2" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Alertas</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
        <div class="col d-flex align-items-start">
            <div class="icon-square w-50 h-100 bg-light text-white flex-shrink-0 me-3" id="touchIcon">
                <img src="/png/touch.png" height="150">
            </div>
            <div>
                <h2>Boton Paciente</h2>
                <h3 class="mt-3 text-primary" id="touchDato"></h3>
            </div>
        </div> 
        <div class="col d-flex align-items-start">
            <div class="icon-square w-50 h-100 bg-light text-white flex-shrink-0 me-3" id="touchIcon">
                <img src="/png/bed.png" height="150">
            </div>
            <div>
                <h2>Detector Paciente</h2>
                <h3 class="mt-3 text-primary" id="touchDato"></h3>
            </div>
        </div>     
    </div>
</div>

<div class="container px-4 py-2" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Sensores</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
        <div class="col d-flex align-items-start">
            <div class="icon-square w-50 h-100 bg-light text-white flex-shrink-0 me-3" id="temperaturaIcon">
                <img src="/png/fiebre.png" height="100">
            </div>
            <div>
                <h2>Temperatura Paciente</h2>
                <h3 class="mt-3 text-primary" id="temperaturaDato"></h3>
                <div class="form-check form-switch p-0">
                    <div class="d-flex flex-column-reverse gap-1">
                        <input class="form-check-input ms-4" type="checkbox" role="switch" id="tempSensor" />
                        <label class="form-check-label" for="tempSensor">Estado Sensor</label>
                    </div>
                </div>
            </div>
        </div> 

        <div class="col d-flex align-items-start">
            <div class="icon-square w-50 h-100 bg-light text-white flex-shrink-0 me-3" id="ambIcon">
                <img src="/svg/thermometer.svg" height="100">
            </div>
            <div>
                <h2>Temperatura Ambiente</h2>
                <h3 class="mt-3 text-primary" id="ambDato"></h3>
                <div class="form-check form-switch p-0">
                    <div class="d-flex flex-column-reverse gap-1">
                        <input class="form-check-input ms-4" type="checkbox" role="switch" id="ambSensor" />
                        <label class="form-check-label" for="ambSensor">Estado Sensor</label>
                    </div>
                    </div>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square w-50 h-100 bg-light text-white flex-shrink-0 me-3" id="spo2Icon">
                <img src="/png/oximeter.png" height="100">
            </div>
            <div>
                <h2>Oxigeno en Sangre</h2>
                <h3 class="mt-3 text-primary" id="spo2Dato"></h3>
                <div class="form-check form-switch p-0">
                    <div class="d-flex flex-column-reverse gap-1">
                        <input class="form-check-input ms-4" type="checkbox" role="switch" id="spo2Sensor" />
                        <label class="form-check-label" for="tempSensor">Estado Sensor</label>
                    </div>
                    </div>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square w-50 h-100 bg-light text-white flex-shrink-0 me-3" id="cardiacoIcon">
                <img src="/png/cardiaco.png" height="100">
            </div>
            <div>
                <h2>Pulso Cardiaco</h2>
                <h3 class="mt-3 text-primary" id="cardiacoDato"></h3>
                <div class="form-check form-switch p-0">
                    <div class="d-flex flex-column-reverse gap-1">
                        <input class="form-check-input ms-4" type="checkbox" role="switch" id="cardiacoSensor" />
                        <label class="form-check-label" for="cardiacoSensor">Estado Sensor</label>
                    </div>
                    </div>
            </div>
        </div>  
        <div class="col d-flex align-items-start">
            <div class="icon-square w-50 h-100 bg-light text-white flex-shrink-0 me-3" id="airIcon">
                <img src="/png/air.png" height="100">
            </div>
            <div>
                <h2>Calidad de Aire</h2>
                <h3 class="mt-3 text-primary" id="airDato"></h3>
                <div class="form-check form-switch p-0">
                    <div class="d-flex flex-column-reverse gap-1">
                        <input class="form-check-input ms-4" type="checkbox" role="switch" id="airSensor" />
                        <label class="form-check-label" for="airSensor">Estado Sensor</label>
                    </div>
                    </div>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square w-50 h-100 bg-light text-white flex-shrink-0 me-3" id="humIcon">
                <img src="/png/humedad.png" height="100">
            </div>
            <div>
                <h2>Humedad</h2>
                <h3 class="mt-3 text-primary" id="humDato"></h3>
                <div class="form-check form-switch p-0">
                    <div class="d-flex flex-column-reverse gap-1">
                        <input class="form-check-input ms-4" type="checkbox" role="switch" id="humSensor" />
                        <label class="form-check-label" for="humSensor">Estado Sensor</label>
                    </div>
                    </div>
            </div>
        </div> 
    </div>
</div>



<script>
    connect = document.getElementById('connectButton')
    temp = document.getElementById('tempSensor')
    spo2 = document.getElementById('spo2Sensor')
    card = document.getElementById('cardiacoSensor')
    air = document.getElementById('airSensor')
    amb = document.getElementById('ambSensor')
    hum = document.getElementById('humSensor')

    const sensorIsCheck = async(checked, topic) => {
        const data = {state: checked};
        await fetch(`http://localhost:3000/${topic}/estado`, {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify(data)
        })
        .catch((error) => console.log(error));
    }

    temp.addEventListener('change', function () {sensorIsCheck(this.checked, "temperatura")})
    spo2.addEventListener('change', function () {sensorIsCheck(this.checked, "spo2")})
    card.addEventListener('change', function () {sensorIsCheck(this.checked, "cardiaco")})
    air.addEventListener('change', function () {sensorIsCheck(this.checked, "air")})
    amb.addEventListener('change', function () {sensorIsCheck(this.checked, "ambiente")})
    hum.addEventListener('change', function () {sensorIsCheck(this.checked, "humedad")})

    connect.addEventListener('click', function () {
        if(this.innerText === 'Conectar'){
            this.classList.remove('btn-success')
            this.classList.add('btn-danger')
            this.innerText = 'Desconectar'
            sensorIsCheck(this.value, "dispositivo")
        }else {
            this.classList.remove('btn-danger')
            this.classList.add('btn-success')
            this.innerText = 'Conectar'
            sensorIsCheck("off", "dispositivo")
        }
    })

</script>
<script src="/javascripts/temperatura.js"></script>
<script src="/javascripts/spo2.js"></script>
<script src="/javascripts/cardiaco.js"></script>
<script src="/javascripts/air.js"></script>
<script src="/javascripts/ambiente.js"></script>
<script src="/javascripts/humedad.js"></script>
<script src="/javascripts/touch.js"></script>