<% layout('layouts/boilerplate')%>
<div class="container">
    <%- include('../partials/navbar')%>
</div>

<div class="b-example-divider"></div>

<div class="container px-2 py-5">
    <%- include('../partials/flash')%>

</div>
<div class="container px-4 py-2" id="hanging-icons">
    <h2 class="pb-2 border-bottom justify-content-center">Modificar tarjeta RFID</h2>
    <div class="pb-5">
        <h3 class="pb-3 justify-content-center">Pacientes</h3>
        <select class="form-select" aria-label="SelectPacientes" id="pacienteList">
            <% for (paciente of pacientes) { %>
                <option id="optionPaciente" value="<%= paciente._id %>"><%= paciente.Apellido %>, <%= paciente.Nombre %></option>
            <% } %>
        </select>  
        <button type="button" class="btn btn-success mt-4" id="writeButton">Escribir</button>
    </div>
</div>

<div class="container px-4 py-2 justify-content-center inline" id="hanging-icons">
    <h2 class="border-bottom justify-content-center">Consulta tarjeta RFID</h2>
    <div class="container row py-5">
        <div class="mb-2">
            <label for="medicamentos" class="form-label">Medicamentos</label>
            <textarea class="form-control" id="medicamentos" rows="4" name="Medicamentos" disabled></textarea>
        </div>
        <div class="col-md-6">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="Nombre" disabled>
        </div>
        <div class="col-md-6">
            <label for="apellido" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="apellido" name="Apellido" disabled>
        </div>
        <div class="col-md-1">
            <label for="edad" class="form-label">Edad</label>
            <input type="number" class="form-control" id="edad" name="Edad" min="0" max="120" disabled>
        </div>
        <div class="col-md-5">
            <label for="fechaNacimiento" class="form-label">Fecha de Nacimiento</label>
            <input type="text" class="form-control" id="fechaNacimiento" name="FechaNacimiento" disabled>
        </div>
        <div class="col-md-6">
            <label for="direccion" class="form-label">Direccion</label>
            <input type="text" class="form-control" id="direccion" name="Direccion" disabled>
        </div>
        <div class="col-md-3">
            <label for="ocupacion" class="form-label">Ocupacion</label>
            <input type="text" class="form-control" id="ocupacion" name="Ocupacion" disabled>
        </div>
        <div class="col-md-3">
            <label for="telefono" class="form-label">Telefono</label>
            <input type="number" class="form-control" id="telefono" name="NumeroContacto" disabled>
        </div>
        <div class="col-md-6">
            <label for="medico" class="form-label">Medico Responsable</label>
            <input type="text" class="form-control" id="medico" name="MedicoResponsable" disabled>
        </div>
        <div class="col-md-2">
            <label for="sangre" class="form-label">Grupo Sanguineo</label>
            <input type="text" class="form-control" id="sangre" name="GrupoSanguineo" disabled>
        </div>
        <div class="col-md-2">
            <label for="sexo" class="form-label">Sexo</label>
            <input type="text" class="form-control" id="sexo" name="Sexo" disabled>
        </div>
        <div class="col-md-4">
            <label for="habitacion" class="form-label">Habitacion</label>
            <input type="text" class="form-control" id="habitacion" name="Habitacion" disabled>
        </div>
        <div class="mb-2">
            <label for="alergias" class="form-label">Alergias</label>
            <textarea class="form-control" id="alergias" rows="2" name="Alergias" disabled></textarea >
        </div>
        <div class="mb-2">
            <label for="cronicas" class="form-label">Enfermedades Cronicas</label>
            <textarea class="form-control" id="cronicas" rows="2" name="EnfermedadesCronicas" disabled></textarea >
        </div>
        <div class="mb-2">
            <label for="motivo" class="form-label">Motivo de Ingreso</label>
            <textarea class="form-control" id="motivo" rows="2" name="MotivoIngreso" disabled></textarea >
        </div>
    </div>
</div>

<script>
    const writeButton = document.getElementById('writeButton')
    const option = document.getElementById('optionPaciente')
    const list = document.getElementById('pacienteList')
    writeButton.addEventListener('click', async function () {
        data = {id: list.options[list.selectedIndex].value}
        await fetch(`http://localhost:3000/rfid/estado`, {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify(data)
        })
        .catch((error) => console.log(error));
    })
</script>

<script src="/javascripts/rfid.js"></script>